@font-face {
  font-family: 'SportingGrotesque-Regular';
  font-weight: normal;
  src: local('SportingGrotesque-Regular') url('SportingGrotesque-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SportingGrotesque-Regular';
  font-weight: normal;
  src: local('SportingGrotesque-Regular') url('SportingGrotesque-Regular.woff') format('woff'),;
}

@font-face{font-family:Faune;src:url(https://www.cnap.graphismeenfrance.fr/faune/fonts/eot/Faune-Text_Regular.eot);src:url(https://www.cnap.graphismeenfrance.fr/faune/fonts/eot/Faune-Text_Regular.eot?#iefix) format("embedded-opentype"),url(https://www.cnap.graphismeenfrance.fr/faune/fonts/woff2/Faune-Text_Regular.woff2) format("woff2"),url(https://www.cnap.graphismeenfrance.fr/faune/fonts/woff/Faune-Text_Regular.woff) format("woff"),url(https://www.cnap.graphismeenfrance.fr/faune/fonts/ttf/Faune-Text_Regular.ttf) format("truetype"),url(https://www.cnap.graphismeenfrance.fr/faune/fonts/svg/Faune-Text_Regular.svg#Faune-Text_Regular) format("svg");font-weight:400;font-style:normal}

html {
  user-select: none;
  background-color: white;
}

@media only screen and (max-width: 414px) {
  html, body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
  }
}

h1, h3, h4, span {
  font-family: 'SportingGrotesque-Regular', 'Faune', Helvetica, sans-serif;
}

h1 {
  z-index: 1;
  position: absolute;
  margin: 14rem 4rem 4rem 6rem;
  color: #FFD232;
  font-size: 3rem;
  line-height: 5rem;
  mix-blend-mode: difference;
}

@media only screen and (max-width: 414px) {
  h1 {
    width: 90vw;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 14rem 0 4rem 0;
    padding: 0 1rem 0 1rem;
  }
}

span {
  font-size: 2rem;
  text-align: right;
  z-index: 10;
}

@media only screen and (max-width: 414px) {
  span {
    font-size: 1.5rem;
  }
}

.wrapper {
  z-index: -10;
  position: absolute;
  width: 100vw;
  height: 300vh;                /* change later*/
  background-color: white;
  overflow-x: hidden;
}

#shadow {
  z-index: -2;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  margin: 25rem auto auto 25rem;
  position: absolute;
  background-color: black;
  animation: shadow 3s ease-in-out Infinite Alternate;
}

@keyframes shadow {
  0% {
  }
  100% {
    background-color: white;
    box-shadow: 2.5rem -0.625rem 1.25rem 0 black;
  }
}

@media only screen and (max-width: 414px) {
  #shadow {
    margin: 20rem 0 0 12rem;
  }
}

#square {
  display: inline-block;
  z-index: -1;
  margin : 31.25rem 0 0 56.25rem;
  position: absolute;
  width: 18.75rem;
  height: 18.75rem;
  transform: rotate(30deg);
  background-color: black;
}

@media only screen and (max-width: 414px) {
  #square {
    display: none;
  }
}

#ball {
  position: absolute;
  margin: 0 0 0 12.5rem;
  border-radius: 50%;
  background: #000;
  animation: ball 1s ease-in Infinite Alternate;
}

@keyframes ball {
    0% {
        top: 0;
        width: 6.25rem;
        height: 6.25rem;
    }
    95% {
        height: 6.25rem;
        width: 6.25rem;
    }
    to {
        top: 21.875rem;
        width: 7.18rem;
        height: 5.625rem;
    }
}

@media only screen and (max-width: 414px) {
  #ball {
    margin-left: 1rem;
  }
}

#button1 {
    position: fixed;
    float: right;
    top: 2rem;
    right: 2rem;
}

@media only screen and (max-width: 414px) {
  #button1 {
    top: 1rem;
    right: 1rem;
  }
}

#button2 {
    position: fixed;
    float: right;
    bottom: 2rem;
    right: 2rem;
}

@media only screen and (max-width: 414px) {
  #button2 {
    bottom: 1rem;
    right: 1rem;
  }
}
